// background
$very_dark_blue: hsl(216, 12%, 8%);
$dark_blue: #171e28;
$ligher_dark_blue: #1e252f;

// card colors
$bg_icon_and_button: #262f38;
$txt_color: hsl(216, 12%, 54%);
$orange: #ff6c03;

// neutrals
$white: #ffffff;